xml/xml/books.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="books">
    <xs:sequence>
        <xs:element name="textbooks" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
</xs:complexType>
<xs:complexType name="textbooks">
    <xs:sequence>
        <xs:element name="name" type="xs:string"></xs:element>
        <xs:element name="author" type="xs:string"></xs:element>
        <xs:element name="publisher" type="xs:string"></xs:element>
        <xs:element name="price" type="xs:integer"></xs:element>
        <xs:element name="isbn" type="xs:integer"></xs:element>
    </xs:sequence>
</xs:complexType>
</xs:schema>
